@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Serwis Ogłoszeń</h1>
    <p class="lead">W tym serwisie znajdziesz najciekawsze ogłoszenia z całego kraju. </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Kup</h2>
        <p>
          Wszystko czego potrzebujesz znajdziesz na naszych aukcjach! Ogromne grono użytkowników sprzedających przedmioty których szukasz!
        </p>
    </div>
    <div class="col-md-6">
        <h2>Sprzedaj</h2>
        <p>Masz przedmioty których nie potrzebujesz? Ta kategoria jest właśnie dla Ciebie! Dodaj swoje ogłoszenia już teraz </p>
    </div>

</div>